<div class="cards">
	<app-text-with-image [text]="data.mainCard.title"
						 [imageUrl]="data.mainCard.imageUrl">
	</app-text-with-image>
	<app-card *ngFor="let card of data.cards | keyvalue | orderBy:'order'"
			  class="{{card.value.type}}"
			  [title]="card.value.title">
		<div class="card-content" [ngSwitch]="card.value.type">
			<ng-template [ngSwitchCase]="WebStatisticsCardType.Icons">
				<app-icons-content [items]="card.value.items"></app-icons-content>
			</ng-template>
			<ng-template [ngSwitchCase]="WebStatisticsCardType.DonutChart">
				<app-donut-content [items]="card.value.items"></app-donut-content>
			</ng-template>
			<ng-template [ngSwitchCase]="WebStatisticsCardType.Meters">
				<app-meters-content [items]="card.value.items"></app-meters-content>
			</ng-template>
		</div>
	</app-card>
</div>
