@import "../../../../../responsive";
:host {
	flex: 1;
	transition: all .3s;
	opacity: 0.85;
	.card-title {
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 18px;
		padding-right: 18px;
		background-color: #1e3f54;
		font-size: 12px;
		letter-spacing: 1px;
	}
	.card-content {
		min-height: 245px;
		background-color: #1a4b6d;
	}
	margin-right: 16px;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		flex: 0.5 !important;
		opacity: 1;
	}
	@include breakpoint(md) {
		margin-bottom: 16px;
	}
	@include breakpoint(sm) {
		margin-right: 0;
		margin-bottom: 16px;
	}
}
